.hero {
  background-image: url(../../../public/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    padding-top: 200px;
    min-height: 100vh;
  }
}
