:root {
  --color-black: #171616;
  --color-bg: #f9f9f9;
  --color-orange: #db2512;
  --color-orange-hover: #af1d0e;
  --font-family: 'Montserrat', sans-serif;
  --small-font: 400 16px / 150% var(--font-family);
  --small-font-sm: 600 16px / 150% var(--font-family);
  --middle-font: 600 22px / 150% var(--font-family);
  --big-font: 700 35px / 150% var(--font-family);
  --small-title-font: 700 50px / 150% var(--font-family);
  --middle-title-font: 700 60px / 150% var(--font-family);
  --big-title-font: 900 67px / 150% var(--font-family);
}
